@{
    ViewBag.Title = "Successful Submit";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Your agreement insertion was successful. Please @Html.ActionLink("Click here to continue", "Index", "Home", routeValues: null, htmlAttributes: null)
    </p>
</div>